nishant
{{ shop.name }}
{{ company_address.address2 }}
{{current_tags}}
Tracking Number: {{ fulfillment.tracking_number }}
{% for link in linklists.main-menu.links -%}
  <li>{{ link.title | link_to: link.url }}</li>
{%- endfor %}
spacific collection category
<h2>{{ collections['sport-watches'] .title }}</h2>
{% for product in collections['sport-watches'].products %}
  {{- product.title | link_to: product.url }}
{% endfor %}