{{ 16 | minus: 2 }}
{{ "          So much room for activities          " | rstrip  | newline_to_br}}!
{{ "          So much room for activities          " | lstrip | newline_to_br}}!
{{ "Liquid" | slice: -3, 2 | newline_to_br}}
{{ "Lkquid" | slice: -3, 2 }}
<br/>
Product collection

{% assign collection = collections['sport-watches'] %}
<ul>
{% for product in collection.products %}
  <li>
      <a href="{{ product.url }}">{{ product.title }}</a>
       {{ product.price | money }}
  </li>
{% endfor %}
</ul>