nishant
{{ shop.name }}
{{ company_address.address2 }}
{{current_tags}}
Tracking Number: {{ fulfillment.tracking_number }}
{% for link in linklists.main-menu.links -%}
  <li>{{ link.title | link_to: link.url }}</li>
{%- endfor %}
spacific collection category
<h2>{{ collections['sport-watches'] .title }}</h2>
{% for product in collections['sport-watches'].products %}
  <h3>{{ product.title }}</h3>
<p>{{ product.available }}</p>
<p>{{ product.category }}</p>
<p>{{ product.compare_at_price }}</p>
<p>{{ product.compare_at_price_max }}</p>
  <p>{{ product.compare_at_price_min }}</p>
  <p>{{ product.compare_at_price_varies }}</p>
  <p>{{ product.content }}</p>
  <p>{{ product.created_at }}</p>
  <p>{{ product.description }}</p>
  <p><img src="{{ product.featured_image |  image_url }}"></p>
    <p><img src="{{ product.featured_media |  image_url }}"></p>
  <p>{{ product.gift_card? }}</p>
<p>{{ product.handle }}</p>
  <p>{{ product.has_only_default_variant }}</p>
  <p>id:- {{ product.id }}</p>
   <p>image:- {{ product.images }}</p>
<p><img src="{{ product.images[0] | image_url }}"></p>
<p><img src="{{ product.media[0] | image_url }}"></p>
{%- for field in product.metafields.testing_metafield -%}
      <li>{{ test_1.testing_metafield }}</li>
    {%- endfor -%}
  {{- product.title | link_to: product.url }}
{% endfor %}